<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp7.Properties.Settings.neptunoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=neptuno;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApp7.Properties.Settings.NeptunoConnectionString1"
            connectionString="Data Source=DESKTOP-0C6FICR\SQLEXPRESS01;Initial Catalog=Neptuno;User ID=khail;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>